@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 8vh;
    font-family: "Nunito", sans-serif;
    background-color: rgb(25, 31, 54);
    color: #eee;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
    color: #eee;
    cursor: default;
}

/* NAVBAR */

span {
    color: #59B2F4;
}

#about, 
#profile, 
#skills, 
#projects, 
#contact {
    height: auto;
}

#nav-container,
#hamburger-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #23232e;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

#nav-container .nav-name,
#hamburger-nav .nav-name {
    font-size: 2rem;
}

#nav-container ul.nav-links,
#hamburger-nav .menu-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

#nav-container ul.nav-links li,
#hamburger-nav .menu-links ul li {
    margin-left: 32px;
}

#nav-container ul.nav-links li a,
#hamburger-nav .menu-links ul li a {
    color: #eee;
    text-decoration: none;
    transition: all 0.3s;
}

#nav-container ul.nav-links li a:hover,
#hamburger-nav .menu-links ul li a:hover {
    color: #59B2F4;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    cursor: pointer;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-icon span {
    width: 32px;
    height: 2px;
    background: #eee;
    margin: 6px;
    transition: all 0.7s;
}

.hamburger-icon.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-icon.open .line2 {
    transform: rotate(45deg) translate(-4px, -5px);
}

.menu-links {
    position: absolute;
    position: fixed;
    top: 8vh;
    right: 0;
    width: 107%;
    height: 92vh;
    background-color: rgba(35, 35, 46, .8);
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #eee;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1000;
}

.menu-links.open {
    transform: translateX(0);
}

.menu-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-links ul li {
    width: 100%;
    margin-top: 3rem;
}

.no-scroll {
    overflow: hidden;
}

section {
    padding: 10rem 0;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: auto;
}

/* PROFILE */

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 85vh;
}

.image-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section-text {
    align-self: center;
    text-align: center;
}

.section-text p {
    font-weight: 600;
}

.text-one {
    text-align: center;
}

.text-two {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon-socials {
    cursor: pointer;
    height: 2rem;
    transition: transform .8s;
}

.icon-socials:hover {
    transform: scale(1.20);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(81, 172, 247) 0.1rem solid;
}

.btn-color-1,
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
    background: rgb(81, 172, 247);
    color: #eee;
}

.btn-color-1:hover {
    background: rgb(25, 31, 54);
}

.btn-color-2 {
    background: none;
    color: #eee;
}

.btn-color-2:hover {
    border: rgb(81, 172, 247) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* ABOUT */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
}

.about-details-container {
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.about-containers, 
.about-details-container {
    display: flex;
}

.about-containers .details-container p {
    margin: 10px 0 0;
}

.icon-arrow {
    position: absolute;
    right: -5rem;
    margin-top: 2rem;
    height: 2rem;
    transition: transform .8s;
}

.icon-arrow:hover {
    transform: scale(1.20);
    cursor: pointer;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(81, 172, 247) 0.1rem solid;
    text-align: center;
}

.details-container img {
    cursor: default;
}

.section-container {
    margin-top: 4rem;
}

/* SKILLS */

.skills-details-container {
    display: flex;
}

.skills-details-container .details-container {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    margin-top: 4rem;
}

.skills-info p {
    margin: 10px 0 0;
}

#skills {
    position: relative;
}

.details-article-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(81, 172, 247) 0.1rem solid;
    text-align: center;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    gap: 0.5rem;
}

.icon-skills {
    height: 2rem;
}

/* PROJECTS */

.projects ul {
    margin-top: 4rem;
}

ul li {
    list-style: none;
}

.projects ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.image img {
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
}

.projects ul li.projects-info__reversed-list {
    flex-direction: row-reverse;
}

.projects ul li:not(:last-of-type) {
    margin-bottom: 8rem;
}

.projects ul li .image img {
    width: 100%; 
    min-width: 30rem;
    max-width: 37rem;
    height: auto;
}

.details-container-img {
    padding: 1.5rem;
    flex: none;
    border-radius: 2rem;
    border: rgb(81, 172, 247) 0.1rem solid;
    text-align: center;
}

.projects ul li .projects-info {
    max-width: 37rem;
}

.projects ul li .projects-info p {
    margin: 2rem 0 0.5rem;
}

.tech-used {
    display: flex;
    height: 2.2rem;
    margin-bottom: 1.5rem;
}

.tech-used .icon-react {
    height: 2rem;
}

.tech-used img {
    margin-right: 0.5rem;
}

.projects ul li .projects-info a {
    text-decoration: none;
    color: #eee;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(81, 172, 247) 0.1rem solid;
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-info-container a {
    font-weight: 600;
    text-decoration: none;
    color: #eee;
    transition: all 0.3s;
}

.contact-info-container a:hover {
    color: #59B2F4;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.contact-icon {
    height: 2rem;
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* FOOTER */

.nav-links-container {
    display: flex;
    justify-content: center;
}

footer {
    margin: 0 10rem;
}

footer p {
    margin-top: 1.5rem;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: #eee;
    transition: all 0.3s;
}

footer ul li {
    margin-bottom: 1rem;
    text-align: center;
}

footer a:hover {
    color: #59B2F4;
    text-decoration: underline;
    text-underline-offset: 1rem;
}